@model WebApplication1.ViewModel.EnergyMeterCreateViewModel

@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>

<form asp-action="Create" id="CreateForm">
    <div class="form-group">
        @Html.LabelFor(model => model.serialId)
        @Html.EditorFor(model => model.serialId, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        <label>Select EnergyMeter Type</label>
        @Html.DropDownList("EnergyMeterType", Model.EnergyTypeList, "Default label", new { @class = "form-control" })
    </div>
    <div id="poleMeters">
        <div class="form-group" id="#meterOfPole">
        </div>

        <button class="btn text-dark" id="addPoleMeter">Add</button>
    </div>
    <button type="submit" class="nav-link btn btn-link text-dark">Create</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#poleMeters").hide();
            $("#EnergyMeterType").change(function () {
                var select = $("#EnergyMeterType").val();
                $("#selectValue").text(select);
                if (select === "Pole") {
                    $("#poleMeters").show();
                } else {
                    $("#poleMeters").hide();
                }
            });
            $("#addPoleMeter").click(function () {
                $("#meterOfPole")
            });
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}